*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* New Task */

.new-task {
	border-bottom: 1px solid #ccc;
}

/*  Fim New Task */

/* Cards */

#producao {
	padding: 0 2em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-content: center;
	gap: 1rem;
}

.card {
	box-shadow: 1px 1px 15px 1px #ccc;
}

/* Fim Cards */

@media screen and (max-width < 768) {
	#producao {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1100px) {
	#producao {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	#producao {
		grid-template-columns: 1fr;
	}
}
